@import "tailwindcss";
@import "daisyui/daisyui.css";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #632ee3;
  --color-secondary: teal;
}

/* custom btn color */
.btn-primary {
  background: linear-gradient(to right, #632ee3, #9f62f2);
  border: none;
  color: white;
}
